<style media="screen">
	hr {
		margin-top: 1rem;
	}

	.departure-form > input[type="text"] {
		width: 355px;
	}

	label {}

	input.wide {
		width: 455px;
	}

	p.help_msg {
		font-size: 12px;
		color: grey;
	}

	div.form-submit-button {
		float: right;
	}

	.form-submit-button button {
		border-radius: 100px;
		margin-left: 10px;
	}

	button.fade {
		color: #bbb;
	}

	button.special {
		color: #33C3F0;
		border-color: #33C3F0;
	}
</style>

<nav>
	<div class="nav">
		<a href="#">flyship</a>
		<div class="nav-links">
			<!-- <a href="#">Log in</a>
						<a class="button" href="/flyship/nonflyer.html">I have a package</a> -->
		</div>
		<a href="#"></a>
	</div>
</nav>
<!-- Primary Page Layout
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<div class="container" style="max-width:600px;">
	<section class="trip-form">
		<form class="" action="" method="">
			<div class="form-header" style="font-size:3rem;">
				<strong>Trip Details</strong>
			</div>
			<div class="departure-form" style="margin-top:4rem;">
				Departure details
				<hr>
				<label>Departure city</label>
				<input type="text" name="departure_city" value="" placeholder="" ng-model="flyer.trip.departure_city">
				<label>Departure date</label>
				<input type="text" name="departure_date" value="" placeholder="" ng-model="flyer.trip.departure_date">
				<hr>
				<div class="address_form">
					<label>Departure landmark address</label>
					<p class="help_msg">
						This address is where the package sender will meet you to handover the package before your departure date.
					</p>
					<input class="wide" type="text" name="street_address" value="" placeholder="Street address" ng-model="flyer.trip.departure_street_address">
					<input type="text" name="postal_code" value="" placeholder="Postal code" ng-model="flyer.trip.departure_postal_code">
					<label for="">Contact number</label>
					<p class="help_msg">
						This number will help package sender to contact you for handing over the package.
					</p>
					<input type="text" name="contact" value="" placeholder="xx xxxx xxxx" ng-model="flyer.trip.departure_contact_number">
				</div>
			</div>
			<hr>
			<div class="form-submit-button">
				<button class="fade" type="button" name="button">Back</button>
				<!-- <a href="#/arrival"> -->
					<button class="special" type="button" name="button" ng-click="flyer.saveTrip()">Save</button>
				<!-- </a> -->
			</div>

		</form>
	</section>
</div>
<!-- End Document
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
