<nav>
	<div class="nav">
		<a href="#">flyship</a>
		<div class="nav-links">
			<a href="#">Log in</a>
			<a class="button" href="#/nonflyer">I have a package</a>
		</div>
		<a href="#"></a>
	</div>
</nav>
<!-- Primary Page Layout
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<div class="container">
	<section class="header">
		<h1 class="title">Flying ? Have space in your luggage ? Help deliver a package.</h1>
		<a class="button button-primary" href="#">How it works</a>
	</section>
	<section class="header-form">
		<form class="" action="" method="" autocomplete="off">
			<div class="ui left icon input">
				<input type="text" class="cities" placeholder="Departure City" data-provide="typeahead">
				<i class="marker icon"></i>
			</div>
			<div class="ui left icon input">
				<input type="text" placeholder="Arrival City" data-provide="typeahead">
				<i class="plane icon"></i>
			</div>
			<div class="ui left icon input">
				<input type="text" placeholder="Departure Date">
				<i class="calendar outline icon"></i>
			</div>

			<button class="ui button positive search">
				<a href="#/packagesearch" style="text-decoration:none;">
					<i class="search icon"></i> Find packages
				</a>
			</button>
		</form>
	</section>
</div>
<div class="row usecase">
	<div class="container" style="max-width: 900px;">
		<div class="one-half column" style="margin-top: 4%">
			<img src="/flyship/assets/images/flyer-white.svg" alt="" style="margin-left:100px" />
			<h4 style="margin-top:20px;">Crowdsourced Shipping</h4>
			<p>International Shipping can be time consuming and costly. People who will be visiting your city can bring your package along with them.</p>
		</div>
		<div class="one-half column" style="margin-top: 5%">
			<img src="/flyship/assets/images/cart-white.svg" alt="" style="margin-left:100px; height: 70px;" />
			<h4 style="margin-top:25px;">International ecommerce</h4>
			<p>Retail Shops in foreign countries dont always support shipping to your country. We will handle it for you from now.</p>
		</div>
	</div>
</div>
<div class="row" style="text-align:center;">
	<div class="container" style="max-width: 900px;margin: 12% auto;box-sizing: border-box;">
		<img src="/flyship/assets/images/cart-white.svg" alt="" style="margin-left:100px" />
		<h3 class="section-heading">Want to get a package delivered?</h3>
		<p class="section-description">Register the package details with us and we will help you find travelers who can deliver it for you for a price. Payment is initiated after you recieve your package.</p>
		<a class="button button-primary" href="/flyship/nonflyer.html">I have a package</a>
	</div>
</div>
