<style media="screen">
	hr {
		margin-top: 1rem;
	}

	.departure-form > input[type="text"] {
		width: 355px;
	}

	label {}

	input.wide {
		width: 455px;
	}

	p.help_msg {
		font-size: 12px;
		color: grey;
	}

	div.form-submit-button {
		float: right;
	}

	.form-submit-button button {
		border-radius: 100px;
		margin-left: 10px;
	}

	button.fade {
		color: #bbb;
	}

	button.special {
		color: #33C3F0;
		border-color: #33C3F0;
	}

</style>

<nav>
	<div class="nav">
		<a href="#">flyship</a>
		<div class="nav-links">
			<!-- <a href="#">Log in</a>
						<a class="button" href="/flyship/nonflyer.html">I have a package</a> -->
		</div>
		<a href="#"></a>
	</div>
</nav>
<!-- Primary Page Layout
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<div class="container" style="max-width:600px;">
	<section class="trip-form">
		<form class="" action="" method="">
			<div class="form-header" style="font-size:3rem;">
				<strong>Register Package</strong>
			</div>
			<div class="departure-form" style="margin-top:4rem;">
				Package details
				<hr>
				<label>Origin City</label>
				<input type="text" name="origin_city" value="" placeholder="">
				<label> Destination City</label>
				<input type="text" name="destination_city" value="" placeholder="">
				<label>Package content</label>
				<input type="text" name="package_content" value="" placeholder="">
				<hr>
				<label for="">Contact number in origin city</label>
				<p class="help_msg">
					This number will help the flyer to contact you for recieving the package.
				</p>
				<input type="text" name="contact" value="" placeholder="xx xxxx xxxx">
				<hr>
				<label for="">Contact number in destination city</label>
				<p class="help_msg">
					This number will help the flyer carrying the package to contact you for handing over the package.
				</p>
				<input type="text" name="contact" value="" placeholder="xx xxxx xxxx">
			</div>
			<hr>
			<div class="form-submit-button">
				<button class="fade" type="button" name="button">Back</button>
				<a href="#/nonflyer">
					<button class="special" type="button" name="button">Save</button>
				</a>
			</div>
		</form>
	</section>
</div>
<!-- End Document
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
